<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitTracker - Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/app.css') }}">
</head>
<body class="bg-white dark:bg-[#1E1E1E]">
    <nav class="bg-white shadow-lg dark:bg-[#1E1E1E]">
        <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
            <a href="/pages" class="flex items-center">
                <span class="text-2xl font-bold text-[#3eb7cc] dark:text-[#78ebff] ">FitTracker</span>
            </a>
        </div>
    </nav>
    <main class="max-w-md mx-auto px-4 py-8">
        <div class="bg-[#056d80] dark:bg-[#4bb7ca] p-8 rounded-lg shadow-md space-y-6">
            <h1 class="text-2xl font-bold text-center mb-6 text-white">Вход в аккаунт</h1>
            <form id="loginForm" class="space-y-6">
                <input type="email" id="email" placeholder="Введите email" required 
                       class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-[#0a7e92] focus:border-transparent transition duration-200 focus:outline-none">
                <input type="password" id="password" placeholder="Введите пароль" required 
                       class="w-full p-2 border rounded-lg focus:ring-2 focus:ring-[#0a7e92] focus:border-transparent transition duration-200 focus:outline-none">
                <button type="submit" class="w-full bg-[#12adc9] dark:bg-[#0a7e92] text-white py-2 px-4 rounded-lg hover:bg-[#169eb6] transition duration-200 flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-[#169eb6] focus:ring-offset-2">
                    Войти
                </button>
            </form>
            <p class="mt-6 text-center text-white">
                Нет аккаунта? 
                <a href="/pages/register" class="text-[#0fc4e4] hover:text-[#169eb6] dark:text-[#045563] font-medium">Зарегистрируйтесь</a>
            </p>
        </div>
    </main>
    <script src="{{url_for('static', path='js/login.js')}}">
    </script>
</body>
</html>